@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    background-color: #FAFCFD;
    padding: 100px;
}

.main {
    border: 2px dashed #BE8CFF;
    padding: 20px;
    border-radius: 20px;
}

button {
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: blue;
    color: white;
    height: 40px;
    width: 100px;
    font-size: 20px;
    margin: 20px;
}

.hover:hover {
    background-color: navy;
}

.click:active {
    background-color: rgb(0, 0, 92);
}

.disable {
    background-color: rgba(153, 150, 150, 0.655) !important;
    cursor: not-allowed;
}

.button {
    border: 1px solid #010155;
    background-color: white;
}

.color {
    color: #010155;
}

.color1:hover {
    color: rgb(9, 122, 250);
}

.mainbton i {
    padding: 2px;
    width: 30px;
}

.widt {
    width: fit-content !important;
    border-radius: 100px !important;
}


@media(max-width: 568px) {
    .main {
        width: 180px !important;
    }

}

@media only screen and (max-width: 768px) and (min-width: 755px) {
    .main {
        width: 320px !important;
        column-count: 2;
    }

    .two {
        margin-top: -2px;
    }
}